MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_DB=
MONGODB_URL=
PORT=
# Brevo SMTP
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_username
SMTP_PASSWORD=your_brevo_password
SMTP_FROM=your_email@brevo.com

# JWT
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

# Frontend домен
APP_DOMAIN=http://localhost:3000/auth

CLOUDINARY_CLOUD_NAME=Root
CLOUDINARY_API_KEY=892953279997519
CLOUDINARY_API_SECRET=C-rnQnXzG08CAef-PiIjeRNiUmw

